@charset "utf-8";
/* CSS Document */

/*
*
*Create Styles for the body Tag
*
*/
boby {
		background-color:#ece8e5;
	 }
	 
/*
*
*Toggle button menu for smaller screen
*
*/	
.show-menu {
		display:none;
		background: #66;
		padding: 10px 15px;
		color:#fff;
	}
		
/*
*
*Create markup for the navigation menu
*
*/
.nav {
		list-style: none;
		*zoom: 1;
		background:#175e4c;
	}

.nav ul {
		list-style:none;
		width:9em;
	}

.nav li {
		position: relative;
	}
	
.nav a {
		padding:10px 15px;
		color:#fff;
	}
	
.nav:before {
		content: " ";
		display:table;
	}
	
.nav:after {
		content: " ";
		display:table;
		clear:both;
	}

.nav > li {
		position: relative;
	}
	
.nav > li > .parent {
		background-repeat:no-repeat;
		background-position:right;
	}
	
.nav > li > a {
		display: block;
	}
	
.nav li ul {
		position:absolute;
		left: -9999px;
	}